.headlist {
    padding: 18px;
}

body {
    background: #EFF7FF;
    padding: 0;
    margin: 0;
    font-family: OpenSans, sans-serif;
    margin-bottom: 50px;
}

.navbar {
    background: #D9ECFF;
    padding: 0;
    width: "100%";
}

#headtext, .headcontainer, #mid {
    align-self: center;
}

.headcontainer {
    width: 60vw;
    background-color: #D9ECFF;
    padding: 35px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 25px;
    margin-top: 100px;
}

#headtext {
    color: #000000;
    font-size: 22px;
}

.bold {
    font-weight: bold;
}

.calculator {
    margin-top: 70px;
}

#mid {
    margin-top: 60px;
    width: 610px;
}

#tables-2 {
    margin-top: 50px;
    width: 100%;
}

#tables-2 * {
    margin: auto;
}

.innumber {
    width: 30px;
}

input[type=number]{
    width: 50px;
    -moz-appearance: textfield;
} 

input[type=radio]{
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
}

.resizable {
    font-size: 1vw;
}

td {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

table, th, td {
    border: 1px solid black;
  }

  th {
      background: #D9ECFF;
      padding: 10px;
  }

  table {
      margin-left: 30px;
      margin-right: 30px;
  }

  #tabelle3 {
      margin-right: -50px;
      padding-right: -50px;
  }

  button {
      margin-top: 30px;
      animation: colorchange 60s;
  }

  .formatted {
      margin-left: 80px;
      margin-right: 80px;
  }

/*Media Queries für responsives Design*/

@media only screen and (max-width: 700px) {
    .headcontainer {
        width: 84vw;
        margin-top: 60px;
    }
    #lkc span, #gkc span {
        visibility: hidden;
        display: none;
    }

    #lkc:after {
        content: 'LK';
    }
    #gkc:after {
        content: "GK";
    }

    #headtext {
        font-size: 15px;
    }

    table * {
        font-size: 12px;
    }

    #mid {
        width: 480px;
    }
}

@media only screen and (max-width: 400px) {
    table * {
        font-size: 10px;
    }

    #mid {
        width: 45px;
    }

    input[type=number]{
        width: 28px;
        -moz-appearance: textfield;
    } 
    th {
        padding: 5px;
    }
}

@media only screen and (max-width: 1200px) {
    #tables-2 * {
        font-size: 12px;
    }
}

@keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}