.headlist {
    padding: 18px;
}

body {
    background: #EFF7FF;
    padding: 0;
    margin: 0;
    font-family: OpenSans, sans-serif;
}

.navbar {
    background: #D9ECFF;
    padding: 0;
    width: "100%";
}

#headtext, .headcontainer, #mid {
    align-self: center;
}

.headcontainer {
    width: 60vw;
    background-color: #D9ECFF;
    padding: 35px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 25px;
    margin-top: 100px;
}

#headtext {
    color: #000000;
    font-size: 22px;
}

.bold {
    font-weight: bold;
}

.calculator {
    margin-top: 70px;
}

#mid {
    margin-top: 60px;
    width: 610px;
}

#tables-2 {
    margin-top: 50px;
}

.innumber {
    width: 30px;
}

input[type=number]{
    width: 50px;
    -moz-appearance: textfield;
} 

.resizable {
    font-size: 1vw;
}

td {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/*Media Queries für responsives Design*/

@media only screen and (max-width: 700px) {
    .headcontainer {
        width: 84vw;
        margin-top: 60px;
    }
    #lkc span, #gkc span {
        visibility: hidden;
        display: none;
    }

    #lkc:after {
        content: 'LK';
    }
    #gkc:after {
        content: "GK";
    }

    #headtext {
        font-size: 15px;
    }
}